#btnl {
    padding: 10px;
    border-radius: 30px;
    background-color: lime;
}

#btnr{
    padding: 10px;
    border-radius: 30px;
    background-color: lime;
}

img {
    width: 958px;
    height:578px;
}

.wrapper{
    margin-left:300px;
}